<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>견묘구분기</title>

    <script src="../static/js/script.js"></script>

</head>

<body>

<input type="file" accept="image/*" id="image" onchange="preview(event)"><br>
<div id="preciew_box"></div>


<input type="text" placeholder="insert tag">
<button>파일 업로드</button>
<br>
<button>검색</button>

</body>

</html>